{%  extends 'Entrega3/padre.html' %} 
{% load static %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
<header class="masthead">
            <div class="container position-relative">
                
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">F1 2025 - Escuderías actuales</h1>    
                            <p class="mb-5">Listado de escuderías activas en temporada 2025</p>
                            
                        </div>
                    </div>
                </div>
            </div>
</header>

{% if miFormulario.errors %}
    <div class="alert alert-danger text-center" role="alert">
        Datos erróneos, revisar
    </div>
{% endif %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Agregar Escudería</h3>

                    <form method="POST" action="{% url 'escuderiaForm' %}">
                        {% csrf_token %}
                        <table class="table table-borderless">
                            {{ miFormulario.as_table }}
                        </table>
                        <div class="d-grid">
                            <input type="submit" class="btn btn-primary" value="Agregar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
       
{% endblock %}